.hero__text 
 img {
    height: 250px;
    border-radius: 100%;
}
.sector-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://img.freepik.com/free-vector/watercolor-chinese-style-background_52683-96085.jpg?w=1380&t=st=1698623178~exp=1698623778~hmac=c684546268c018cf75fee82202621c0d72660d112afa187a7b8f41c383909ea9);
}

*{
    font-family: Papyrus, fantasy;
}