/** @format */

.hero__text img {
  height: 280px;
  border-radius: 100%;
  padding-block: 3px;
}
.sector-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Papyrus, fantasy;
  background-image: url(https://img.freepik.com/free-vector/watercolor-chinese-style-background_52683-96085.jpg?w=1380&t=st=1700078856~exp=1700079456~hmac=3a07c7cefb54d2b0ebf82378987abc52c3fbfc372f88900543529ffd4c0d54f5);
}
