.logo-cap {
    object-fit:fill;
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
}

.login_box img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 1rem;
    overflow: hidden;
}
.img_cart {
    width: 30px;
    height: 30px;
}

.img_profile{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: contain;
   
}
.nav-costume {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-image: url(https://img.freepik.com/premium-vector/oriental-style-gray-wave-seamless-pattern-white-background_8087-4957.jpg?size=626&ext=jpg&ga=GA1.1.98934841.1698622056&semt=ais);
}

.home_nav {
   
}
.contact_nav{
    
}
.equi_nav{
    
}
.kata_nav{
    
}
.museum_nav{
   
}