body {
  /* background: 
  linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
  url('http://thecodeplayer.com/uploads/media/gs.png');
 */
 background: rgb(42, 41, 43);
 
 background-color: rgba(70, 68, 65, 0.442);

 background-repeat: repeat-x;
 background-position: top center;
 height: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

