body {
  /* background: 
  linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
  url('http://thecodeplayer.com/uploads/media/gs.png');
 */
 background: tan;
 
 background-color: tan;

 background-repeat: repeat-x;
 background-position: top center;
 height: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


