/** @format */

.sfondo-ancient {
  background: url(https://preview.redd.it/o0ten1asv4s11.jpg?auto=webp&s=9b8229f399f0e9a065eed5c848ab2aaa0c6e3b49)
    no-repeat center;
  background-size: cover;
  margin: 0;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sfondo-ancient h1 {
  font-family: fantasy;
  border: 2px solid;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.53);
  color: white;
}
